/*
 * @Author: Nokey 
 * @Date: 2018-09-14 10:44:24 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2019-01-03 11:32:40
 */
@import '~nib/lib/nib/index.styl'
@import '../../../theme.styl'

footer
    background-color #eee
    overflow hidden
    padding _padd
    margin-top _header_height
