/*
 * @Author: Nokey 
 * @Date: 2018-09-14 10:44:24 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-09-14 17:47:47
 */
@import '~nib/lib/nib/index.styl'

footer
    background-color #b3a058
    overflow hidden

.footer-wrapper
    max-width 1920px
    margin 0 auto

.footer-content
    position relative
    max-width 75%
    margin 0 auto
    height 270px
    padding-top 1px

.footer-logo
    absolute top 45% left 0
    width 25%
    transform: translate(0, -50%)

.copy-right
    absolute top 50% left 28%
    height 48px
    padding-left 15px
    transform: translate(0, -50%)

.copy-right:before
    content ''
    display block
    absolute top 0 left 0
    width 1px
    height 100%
    background-color #fff
    
.copy-right p
    color #fff
    height 24px
    line-height 24px
  
.social-account
    absolute top 0 right 0
    width 36%
    height 100%
    border-left 1px solid #beb699
    padding 88px 50px 0
  
.follow-txt
    color #fff
    line-height 1.4em
  
.account-icons
    margin-top 27px

.icon
    absolute top 0 left 0
    width 100%
  
// .icon-hover
//     absolute top 0 left 0
//     width 144.8275%
//     opacity 0

.icon-box
    position relative
    display inline-block
    width 30px
    height 30px
    margin 0 12px 5px 0

    // &:hover
    //     .icon-hover
    //         opacity 1
  
// .account-icons img
//     opacity 0
  
.footer-qr
    absolute top 5px left 43%
    margin-left -60px
    width 120px
    height 120px
  
@media screen and (max-width: 1000px)
    .footer-content
        height auto
        max-width 100%

    .copy-right
        position relative
        left auto
        top auto
        width 100%
        height auto
        margin 50px auto 0
        text-align center
        padding 0
        
    .copy-right:before
        content ''
        display block
        absolute top 70px left 50%
        width 46px
        height 2px
        margin-left -23px
        background-color #fff
    
    .footer-logo
        position relative
        top auto
        left auto
        height 48px
        display block
        margin 0 auto 50px
  
    .footer-qr
        absolute top -80px left 50%
        margin-left -60px
        width 120px
        height 120px

    .social-account
        position relative
        top auto
        right auto
        width 100%
        height auto
        border none
        text-align center
        padding 80px 0
    
    .social-account:before
        content ''
        display block
        absolute top 70px left 50%
        width 350px
        height 1px
        margin-left -175px
        background-color rgba(255,255,255,.5)
  
    .follow-txt
        display none
    
    .account-icons
        padding-left 10px
    
    .icon-box
        width 40px
        height 40px
    
@media screen and (max-width: 500px)
    .copy-right
        margin 30px auto 0
    
    .social-account
        padding 32px 0 30px
    
    .social-account:before
        top 30px
    
@media screen and (max-width: 320px)
    .copy-right p
        font-size 0.875rem
    
    .icon-box
        width 30px
        height 30px
