/*
 * @Author: Nokey 
 * @Date: 2017-10-11 16:58:49 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2020-10-19 14:30:27
 */

.percent
    position fixed
    left 50%
    top 50%
    transform translate(-50%, -50%)
    font-family 'Roboto-Thin'
    text-align center