/*
 * @Author: Nokey 
 * @Date: 2018-09-27 14:55:37 
 * @Last Modified by:   Mr.B 
 * @Last Modified time: 2018-09-27 14:55:37 
 */

// Slider
.slider-box
    margin 0 auto
    padding 4px
    color #333

.home-slide-item
    background-color #eee

.slide-content
    position relative
    height 528px
    overflow hidden
    background-size cover
    background-position 50% 50%
    background-repeat no-repeat
  
    img
        opacity 0
        
    p
        color #fff
    
.home-slider-data
    left 10%
    top 30%
    
.home-slider-title
    width 240px
    margin-top 24px
    font-size 42px
    font-weight bold
    color #fb436a
    line-height 1em
    
.home-slider-desc
    width 260px
    margin-top 24px
    font-size 14px

@media screen and (max-width: 835px)
    .home-slider-label
        font-size 14px
    
    .home-slider-title
        font-size 24px
    
    .home-slider-desc
        font-size 12px
    
    .home-slider-data
        top 34%
