/*
 * @Author: Nokey 
 * @Date: 2018-09-14 10:44:24 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2021-03-19 16:07:59
 */

footer
    background-color #eee
    overflow hidden
    padding 10px
    margin-top 10px
