/*
 * @Author: Nokey 
 * @Date: 2017-10-24 14:10:50 
 * @Last Modified by:   Nokey 
 * @Last Modified time: 2017-10-24 14:10:50 
 */
:global{
*{
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
html{
    width: 100%;
    font-size: 62.5%;
    background-color: #fff;
}
body{
    font-size: 1.4rem;
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', Helvetica, sans-serif;
    background-color: #fff;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}
hr{
    border: 0;
    width: 100%;
    border-top: 1px solid #cbcbcb;
}
em{
    font-style: normal;
}
input, textarea{
    font-family: Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    outline: none;
    border: none;
}
input:focus, textarea:focus{
    outline: none;
}
i{
    font-style: normal;
}
img{
    outline: none;
    border: 0 !important;
}
::selection {/*Webkit,Opera9.5+,Ie9+*/
    background: #b5a25d;
    color: #fff;
}
::-moz-selection {/*Mozilla Firefox*/
    background: #b5a25d;
    color: #fff;
}
::-ms-clear{
    display: none;
}
::-ms-reveal{
    display: none;
}
.link{
    cursor: pointer;
}
}