/*
 * @Author: Nokey 
 * @Date: 2019-01-03 10:18:27 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2019-01-03 10:35:22
 */

@import '../../../theme'

.box
    position fixed
    left 0
    top _header_height
    width _sidebar_width
    background-color #ccc

.item
    padding _padd
