/*
 * @Author: Nokey 
 * @Date: 2018-09-14 13:08:12 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-12-27 16:29:59
 */

@import '~nib/lib/nib/index.styl'
@import '../../theme.styl'

/* Begin Home */
.box
    padding 50px 0

.link
    color #000
    padding _padd
    text-decoration underline

.p
    padding _padd

@media screen and (max-width: 500px)
    .box
        margin-top 5%
  
/* End Home */