/*
 * @Author: Nokey 
 * @Date: 2018-09-14 13:08:12 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2019-01-03 10:32:25
 */

/* Begin Home */
.box
    padding 50px 0
    padding-left _sidebar_width + 10

.link
    color #000
    padding _padd
    text-decoration underline

.p
    padding _padd

@media screen and (max-width: 500px)
    .box
        margin-top 5%
  
/* End Home */