/*
 * @Author: Nokey 
 * @Date: 2018-09-27 14:02:20 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-09-27 15:07:24
 */

.home-content
    margin-top 5%

// Flexgrids
.flexgrids-grid
    padding 5px
    transition all 0.3s ease-in-out

.news-bg
    opacity 0
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-size cover
    background-position 50% 50%
    background-repeat no-repeat

.grid-inner-box
    position relative
    height 100%
    background-color #888
    overflow hidden

.show
    opacity 0.8

.da-item
    position absolute
    width 100%
    height 100%
    background-color rgba(177, 158, 85, 0.65)

.da-box-content
    display table
    width 100%
    height 100%

.da-box-content > .in
    display table-cell
    width 100%
    overflow hidden
    vertical-align middle
    text-align center
    padding 25px
    
.da-box-content h3
    width 100%
    color #fff
    font-size 18px
    line-height 1.4em

.sub-title-box
    position absolute
    left 0
    bottom 0
    width 100%
    height 7rem
    line-height 1.2em
    color #fff
    font-size 2rem
    background-image url(./img/bg-gradient.png)
    background-repeat repeat-x
    background-size auto 100%
    display flex
    align-items flex-end
    padding-left 0.7rem
    padding-bottom 0.5rem
    visibility hidden
  
.home-spec-1
    // background url(./img/f-logo.png) 78% -10% no-repeat
    // background-size auto 85%
    background-color #f6f6f6
    position relative
    height 100%

.logo
    position absolute
    right 6%
    top -10%
    width 70%
    
.home-spec-2
    background url(./img/icon-f@2x.png) 50% 50% no-repeat
    background-color #bcad65
    background-size 12px
  
.home-spec-3
    background url(./img/icon-lines@2x.png) 50% 50% no-repeat
    background-color #f6f6f6

.share-twitter
    background url(./img/icon-twitter.png) 50% 50% no-repeat
    background-size 26px
    background-color #bcad65

.home-icon-new:before
    content ''
    display block
    position absolute
    left 3px
    top 10px
    width 40px
    height 40px
    background url(./img/icon-new@2x.png) no-repeat
    background-size 100%
    z-index 10

@media screen and (max-width: 835px)
    .sub-title-box
        visibility visible
