/*
 * @Author: Nokey 
 * @Date: 2018-09-13 16:23:27 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-09-13 20:42:59
 */

@import '~nib/lib/nib/index.styl'
@import '../../../theme.styl'

/* Begin Header */
.header
    display block
    fixed top 0 left 0
    width 100%
    z-index 100
    background-color #eee

.link
    color #000
    display inline-block
    padding _padd

@media screen and (max-width: 835px)
    .header
        padding 0

/* End Header */