/*
 * @Author: Nokey 
 * @Date: 2018-09-13 16:23:27 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2021-03-19 19:05:08
 */

/* Begin Header */
.header
    display block
    width 100%
    z-index 100
    background-color #eee

.link
    color #000
    display inline-block
    padding 10px

@media screen and (max-width: 835px)
    .header
        padding 0

/* End Header */