/*
 * @Author: Nokey 
 * @Date: 2018-09-25 10:26:21 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2019-01-03 11:34:41
 */

@import '../../theme'

.box
    margin-top _header_height + 20
    text-align center
    font-weight bold
    font-style 32px
