/*
 * @Author: Nokey 
 * @Date: 2018-09-25 10:26:21 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2021-03-19 16:06:52
 */

.box
    margin-top 20px
    text-align center
    font-weight bold
    font-style 32px
