/*
 * @Author: Nokey 
 * @Date: 2018-12-27 15:57:39 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2019-01-03 10:34:52
 */

_main-color = #000
_btn-radius = 5px
_padd = 1em

// Header
_header_height = 42px

// Sidebar
_sidebar_width = 70px
