/*
 * @Author: Nokey 
 * @Date: 2018-09-13 16:23:27 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-09-13 20:42:59
 */

@import '~nib/lib/nib/index.styl'

/* Begin Header */
.header
    display block
    fixed top 0 left 0
    background-color #b9a764
    width 100%
    z-index 100

.wrap
    height 120px
    max-width 1920px
    margin 0 auto
    transition all .5s
  
.content
    position relative
    max-width 75%
    height 100%
    margin 0 auto
  
// .js-scroll .wrap
//     height 60px

.logo
    absolute top 50% left 10px
    height 30%
    width auto
    transform: translateY(-50%)
    // line-height 120px
    // color #fff
    // font-size 3rem
  
.home
    absolute top 48px right 10px
    width 36px

.header[data-state='scrolled']
    .wrap
        height 60px

    .logo
        line-height 60px
        font-size 2rem

    .home
        top 20px
        width 30px

@media screen and (max-width: 835px)
    .content
        max-width 95%

@media screen and (max-width: 500px)
    .wrap
        height 90px
    
    .logo
        font-size 2.4rem
        line-height 90px
    
    .home
        width 32px
        top 33px

/* End Header */