/*
 * @Author: Nokey 
 * @Date: 2018-09-16 15:43:04 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2021-03-19 15:53:11
 */
 
/* Begin Articles List */
.list-box
    padding 50px 0
    padding-left 10px

@media screen and (max-width: 835px)
    .list-box
        font-size 2.2rem


/* End Articles List */
