/*
 * @Author: Nokey 
 * @Date: 2018-09-16 15:43:04 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-12-27 16:31:08
 */
@import '~nib/lib/nib/index.styl'
 
/* Begin Articles List */
.list-box
    padding 180px 0 100px

@media screen and (max-width: 835px)
    .list-box
        font-size 2.2rem


/* End Articles List */
